---
import { GameEngine } from "../../game-state/game.state";
import LayoutAuth from "../../layouts/LayoutAuth.astro";
import { ROUTES } from "../../utils/routes.const";
import { SecurityUtil } from "../../utils/security.util";

const session = SecurityUtil.getUser(Astro.request);

export interface Props {
	title: string;
}

if (!session) {
	return Astro.redirect(ROUTES.login);
}

const { kingdoms } = await GameEngine.load();
const kingdom = kingdoms.get(session.accountId);
const kdTick = kingdom?.snapshots.size || 0;

if (Astro.request.method === "POST" && kingdom) {
	await GameEngine.tickKingdom(session.accountId);
	return Astro.redirect(ROUTES.status);
}
---

<LayoutAuth title="Kingdom Status">
	{
		kingdom ? (
			<div>
				<h1 class="text-3xl mb-3">My kingdom</h1>
				<form method="post">
					<button type="submit">Tick {kdTick}</button>
				</form>
				<pre>{JSON.stringify(kingdom, null, 2)}</pre>
				<pre>{JSON.stringify(kingdom.snapshots.get(kdTick - 1)?.body, null, 2)}</pre>
			</div>
		) : (
			<>
				<h3 class="text-sm text-orange-400 my-2">You don't have a kingdom yet</h3>
				<a href={ROUTES.createKingdom}>
					<button>Create kingdom</button>
				</a>
			</>
		)
	}
</LayoutAuth>
