---
import { GameEngine } from "../../game-state/game.state";
import LayoutAuth from "../../layouts/LayoutAuth.astro";
import { ROUTES } from "../../utils/routes.const";
import { SecurityUtil } from "../../utils/security.util";

const session = SecurityUtil.getUser(Astro.request);

export interface Props {
	title: string;
}

if (!session) {
	return Astro.redirect(ROUTES.login);
}

const { tick, kingdoms } = await GameEngine.load(); //loadGameHandler();
const kingdom = kingdoms.get(session.accountId);
const kdTick = kingdom?.snapshots.size || 0;

if (Astro.request.method === "POST" && kingdom) {
	await GameEngine.tickKingdom(session.accountId);
	return Astro.redirect(ROUTES.status);
}
await GameEngine.suspend;

// GameEngine.save();

console.log({ tick: kdTick });
---

<LayoutAuth title="Kingdom Status">
	<h3>My kingdom</h3>
	{
		kingdom ? (
			<div>
				<pre>{JSON.stringify(kingdom, null, 2)}</pre>
				<pre>{JSON.stringify(kingdom.snapshots.size, null, 2)}</pre>
				<form method="post">
					<button type="submit">Tick!!!</button>
				</form>
				<pre>{JSON.stringify(kingdom.snapshots.get(kdTick - 1)?.body, null, 2)}</pre>
			</div>
		) : (
			<a href={ROUTES.createKingdom}>Create kingdom</a>
		)
	}
</LayoutAuth>
