---
import { createKingdomHandler } from "../handlers/createKingdom.handler";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../supabaseClient";

const { request } = Astro;
if (request.method === "POST") {
	const form = await request.formData();
	const name = form.get("name") as string;
	const ruler = form.get("ruler") as string;

	try {
		const resp = await createKingdomHandler(Astro, '1', name, ruler);
		console.log(resp);
	} catch (e) {
		console.error(e);
	}
}
---

<Layout title="Create account">
	<h1 class="text-3xl">Sign up</h1>
	<form method="post" class="my-3 flex flex-col gap-3 max-w-xs">
		<label for="name">Name</label>
		<input type="text" name="name" />
		<label for="ruler">Ruler</label>
		<input type="text" name="ruler" />
		<button type="submit" class="mt-5">Create kingdom</button>
	</form>
	<br />
</Layout>
