---
import Layout from "../layouts/Layout.astro";
// import { Toggle, Counter } from "../client-components";
---

<Layout title="Hello my new page">
	<p>Hello world page</p>
	<!-- <Counter client:load />
    <Toggle client:load /> -->
</Layout>
