---
import { requestKingdoms } from "../handlers/requestKingdoms.handler";
import LayoutAuth from "../layouts/LayoutAuth.astro";
import { ROUTES } from "../utils/routes.const";
import { SecurityUtil } from "../utils/security.util";

const session = SecurityUtil.getUser(Astro.request);

export interface Props {
	title: string;
}

if (!session) {
	return Astro.redirect(ROUTES.login);
}

const kingdoms = await requestKingdoms(session.accountId);
---

<LayoutAuth title="Profile">
	<h3>My profile</h3>
	<pre>{JSON.stringify(session, null, 2)}</pre>
	{
		kingdoms.length === 0 ? (
			<a href={ROUTES.createKingdom}>Create kingdom</a>
		) : (
			<pre>{JSON.stringify(kingdoms, null, 2)}</pre>
		)
	}
</LayoutAuth>
