---
import { ROUTES } from "../utils/routes.const";

const response = Astro.redirect(ROUTES.home);
response.headers.append("Set-Cookie", `test=${new Date().toTimeString()}`);
return response;
---

<html>
	<h1>Test page</h1>
</html>
